<h2> We are located in the heart of TTDI </h2>
<p>Please click on the map below for a link on Google Maps </p>

<a href="https://www.google.com/maps/place/next+academy/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=next+academy&zoom=17&scale=1&size=600x600&maptype=roadmap&key=AIzaSyD58f65OiH2jwS1NmcIpZbZZ4GbGMzR6IE&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7Cnext+academy&signature=JVSu7F13kYGd6qfa8B6lE2vmOW4=" alt="Google Map of next academy"></a>